<!--
 * @Author: your name
 * @Date: 2020-01-26 19:05:34
 * @LastEditTime: 2020-01-30 20:09:20
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \koa-weibo\src\views\error.ejs
 -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>