<!--
 * @Author: your name
 * @Date: 2020-01-26 22:21:17
 * @LastEditTime : 2020-01-26 22:25:02
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \koa-weibo\src\views\components\demo.ejs
 -->
<h1><%= content %></h1>